.Button {
  font-weight: 700;
  color: var(--white);
  padding: 12px 34px;
  background: var(--red);
  border: 1px solid var(--red);
  border-radius: var(--default-radius);
  cursor: pointer;
  transition: 0.5s;
}

.Button:hover {
  background: rgb(148, 2, 2);
}

.Button--very--small {
  padding: 2px 12px;
}

.Button--small {
  padding: 7px 24px;
}

.Button--outline {
  background: transparent;
}
