.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--true-black);
}

.App_main {
  margin: 0 auto;
}

.movie-list {
  max-width: 1120px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.moreContent {
  margin-bottom: 30px;
  text-align: center;
}
